
.idea/
.settings/
build/
out/
WebContent/WEB-INF/classes/
.classpath
.project
*.iml
webapp-react/node_modules/
webapp-react/build/
webapp-element/node_modules/
webapp-element/build/
webapp-angular/node_modules/
webapp-angular/build/
.project/
.classpath/
node_modules
