<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '']">首页
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/school']">校招
        </a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          注册
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" [routerLink]="[ '/register/person']">个人
          </a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" [routerLink]="[ '/register/enterprise']">企业
          </a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="[ '/login']">登录</a>
      </li>
    </ul>
  </div>
</nav>