

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: rgba(255, 255, 255, 0.3);
}

.modal-dialog {
    width: 360px;
}



table {
    background: rgba(255, 255, 255, 0.5);
}

table tr td input {
    border: 1px solid grey;
    border-radius: 5px 10px;
    padding: 5px;
}