/*超小屏幕*/
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
/*小屏幕*/
@media screen and (min-width: 768px)and (max-width: 992px){
    html{
        font-size: 62.5%;
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px)and (max-width: 1200px){
    html{
        font-size: 80%;
    }
}
/*大屏幕*/
@media screen and (min-width: 1200px){
    html {
        font-size: 100%;
    }
}
body{
    background: rgba(255,255,255,0.3);
}
table{
    background: rgba(255,255,255,0.5);
}
table tr td input{
    border: 1px solid grey;
    border-radius: 5px 10px;
    padding: 5px;
}