/*超小屏幕*/
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/*小屏幕*/
@media screen and (min-width: 768px)and (max-width: 992px) {
    html {
        font-size: 62.5%;
    }

    .modal-dialog {
        width: 480px !important;
    }
}

/*中等屏幕*/
@media screen and (min-width: 992px)and (max-width: 1200px) {
    html {
        font-size: 80%;
    }

    .modal-dialog {
        width: 480px !important;
    }
}

/*大屏幕*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 100%;
    }

    .modal-dialog {
        width: 480px !important;
    }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: black;
}
#background{
    position: fixed;
    z-index: 0;
    top:0;
    left: 0;
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0);
}

/*public*/
iframe {
    width: 100%;
    height: 90%;
    position: relative;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.modal-dialog {
    width: 320px;
}

#preselected_search ul li {
    list-style: none;
    padding: 1px 5px;
}

.main，footer, header, #carousel-example-generic {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}

#preselected_search ul li:hover {
    background-color: grey;
}

/*header*/
nav {
    z-index: 1;
}
#login_btu,#myVideo,#mySearch,#settingLabel,#mylogin,#myregister-person,#myregister-enterprise{
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

#preselected_search {
    width: 90%;
    height: auto;
    display: none;
    border: solid 5px gainsboro;
    border-top: none;
    overflow-y: scroll;
}

#preselected_search ul li a {
    font-size: 1rem;
    text-decoration: none;
}

#share span:hover, #setting span:hover, #collection span:hover {
    color: #2aabd2;
}

/*footer*/
footer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    font-size: 0.8rem;
    border-radius: 5px;
}

footer address {
    padding: 15px 25px 0 25px;
}

footer address a {
    text-decoration: none;
}

footer address a:hover {
    text-decoration: none;
}

#toTop a {
    position: fixed;
    right: 0;
    bottom: 36px;
    z-index: 99999;
}

#toTop a {
    width: 6px;
    height: 50px;
    border-radius: 50px;
    background: url(../image/common/toTop.png) no-repeat;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px grey;
}

#toTop a:hover {
    width: 50px;
    box-shadow: 2px 2px 2px 2px slategray;
}

/*otherwise*/
.carousel-inner, .item, img {
    width: 100%;
    height: 100%;
}

#carousel-example-generic {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.padding_top{
   padding-top:10px;
}

