html, head, body {
    margin: 0px;
    padding: 0px;
}
/*public*/
.col-md-2,.col-md-3,.col-md-7,.col-md-1,.col-md-11{
    padding-left: 0px;
    padding-right: 0px;
}
.modal{
    margin-top: 50px;
}
.modal-content{
    background-color: gainsboro;
    opacity: 0.8;
}
.marquee ul ,.marquee,#filter ul li,#job_class ul li,#hotRecurit ul li,#preselected_search ul li{
    list-style: none;
    padding: 1px 5px;
}
.main ,.marquee,footer,header,#carousel-example-generic{
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}
#filter ul li a,#company tr td a,#job_class a{
    text-decoration: none;
    color: black;
}
#filter ul li:hover,#company tr:hover,#job_class ul li:hover,#preselected_search ul li:hover{
    background-color: grey;
}
#filter ul li a,#company tr td a ,#preselected_search ul li a{
    color: black;
}
#jobs,#resume,#marquee,#filter{
    display: none;
    background-color: gainsboro;
    opacity: 0.8;
}

/*header*/
nav{
    font-size: 20px;
    color: black;
    border-bottom: 1px solid gray;
    margin: 0px;
}
#search{
    margin-top: 6px;
    margin-right: 20px;
}
#search-con {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: -20px;
}
#search .btn{
    width: 40px;
    height: 40px;
    border-radius:20px;
    margin-left: -20px;
    opacity: 0.5;
}
#preselected_search{
    background-color: white;
    width: 95%;
    margin-left: 5%;
    height: auto;
    display: none;
    border:solid 5px gainsboro;
    border-top:none ;
    overflow-y: scroll;
}
#preselected_search ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
#tool{
    padding: 12px 0px;
}
#tool li{
    padding: 0px 10px;
}
#tool li:hover{
    color: #2aabd2;
}
/*left*/
#job_class{
    display: block;
    background-color: black;
    opacity: 0.8;
}
#job_class ul li{
    padding:2px 5px;
}
#job_class ul li a{
    display: inline-block;
    width: auto;
    color: white;
}
/*main*/
table thead tr td,table tbody tr td{
    border: 1px solid white;
}
table tbody tr td a{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
}

/*right*/
#hotRecurit{
    background-color: gainsboro;
    opacity: 0.8;
    border: 10px solid white;
}
#hotRecurit h3{
    background-color: beige;
    padding: 5px;
}
#hotRecurit ul{
    padding: 2%;
}
#hotRecurit ul li{
    width: 30%;
    float: left;
    margin: 1%;
}
.marquee {
    margin:2px 0px;
    width:100%;
    height: 480px;
    overflow: hidden;
    border: 5px solid gainsboro;
}
.marquee ul{
    padding: 10px;
    background-color: white;
}
.marquee ul li{
    position: relative;
    top:0px;
    padding-left:3px ;
}
.marquee ul li a:link{
    color: black;
    font-size: 1em;
    padding: 1px 3px;
}
.marquee ul li a:visited{
    color: red;
    font-size: 1em;
    padding: 1px 3px;
}
.marquee ul li a:hover{
    color: green;
    font-size: 1em;
    padding: 1px 3px;
}
.marquee ul li a:active{
    color:blueviolet;
    font-size: 1em;
    padding: 1px 3px;
}
/*footer*/
#footer{
    width: 100%;
    margin: 0px;
    padding: 10px 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: gainsboro;
    color: black;
    opacity: 0.8;
}
#footer address{
    margin: 5px auto;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0px 50px;
}
#toTop a{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 99999;
}
#toTop a{
    width: 20px;
    height: 72px;
    border-radius: 36px;
    background: url(../image/toTop.jpg) no-repeat 0px 9px;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px grey;
}
#toTop a:hover{
    width: 72px;
    box-shadow: 2px 2px 2px 2px slategray;
}
/*otherwise*/
.carousel-inner,.item,img{
    width: 100%;
    height: 100%;
}
#carousel-example-generic{
    position: fixed;
    left: 0px;
    z-index: 0;
}
.alert-warning {
    margin: auto;
    text-align: center;
    color: red;
    border: 1px solid red;
    padding: 8px;
    border-radius:5px;
}
.alert-success{
    margin: auto;
    text-align: center;
    color: lightseagreen;
    border: 1px solid lightseagreen;
    padding: 8px;
    border-radius:5px;
}
.alert-warning {
    animation: move 1s 3;
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(0px, 10px);
    }
    75% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


.bdsharebuttonbox{
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 80px;
    right: 200px;
    height: auto;
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px gray;
    font-size: 18px;
}
.checked{
    background-color: #2b669a;
    box-shadow: 1px 1px 1px 1px dodgerblue;
}


