/*超小屏幕*/
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .panel-group{
        height: 45px;
    }
    .panel-group:hover{
        height: auto;
    }
}
/*小屏幕*/
@media screen and (min-width: 768px)and (max-width: 992px){
    html{
        font-size: 62.5%;
    }
    .panel-group{
        height: 45px;
    }
    .panel-group:hover{
        height: auto;
    }
    .modal-dialog{
        width: 450px !important;
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px)and (max-width: 1200px){
    html{
        font-size: 80%;
    }
    .modal-dialog{
        width: 480px !important;
    }
}
/*大屏幕*/
@media screen and (min-width: 1200px){
    html {
        font-size: 100%;
    }
    .modal-dialog{
        width: 480px !important;
    }
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.modal-content{
    background: rgba(255,255,255,0.8);
}
.modal-dialog{
    width: 360px;
}
body{
    background: rgba(255,255,255,0.3);
}
.menu{
    overflow-y: scroll;
}
.panel-group {
    max-height: 50rem;
    overflow: auto;
    font-size: 1rem;
}

.leftMenu {
    margin-top: 0.1rem;
    font-size: 0.5rem;
}

.leftMenu .panel-heading {
    font-size: 1rem;
    padding-left: 1rem;
    height: 3.6rem;
    line-height: 3.6rem;
    color: white;
    position: relative;
    cursor: pointer;
    background-color: black;
    opacity: 0.9;
}

/*转成手形图标*/
.leftMenu .panel-heading span {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
}

.leftMenu .menu-item-left {
    padding: 0.2rem;
    background: transparent;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
}

.leftMenu .menu-item-left:hover {
    background: grey;
    border: 0.1rem solid grey;
}
table{
    background: rgba(255,255,255,0.5);
}
table tr td input{
    border: 1px solid grey;
    border-radius: 5px 10px;
    padding: 5px;
}