@media screen and (max-width: 760px) {
    html {
        font-size: 32.5%;
    }
}
@media screen and (max-width: 1360px) and (min-width: 760px){
    html {
        font-size: 62.5%;
    }
}
.main{
    margin-top: 150px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px slategray;
    border-radius: 5px;
    padding: 0;
}
.main .page-header{
    padding-left: 25px;
}
#reset,#btu_resetPassword{
    margin: 10px;
}
#reset{
    margin-left: 50px;
}
#btu_resetPassword{
    margin-right: 50px;
}
#confirm_box{
    margin-bottom: 15px;
}
.alert-warning {
    margin: auto;
    text-align: center;
    color: red;
    border: 1px solid red;
    padding: 8px;
    border-radius:5px;
}
.alert-success{
    margin: auto;
    text-align: center;
    color: lightseagreen;
    border: 1px solid lightseagreen;
    padding: 8px;
    border-radius:5px;
}
.alert-warning {
    animation: move 1s 3;
}
@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(0px, 10px);
    }
    75% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
