@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
/*小屏幕*/
@media screen and (min-width: 768px)and (max-width: 992px){
    html{
        font-size: 62.5%;
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px)and (max-width: 1200px){
    html{
        font-size: 62.5%;
    }
}
/*大屏幕*/
@media screen and (min-width: 1200px){
    html {
        font-size: 62.5%;
    }
}
body{
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(255,255,255, 0.1);
}
.person_list,#show_content,.user_center{
    overflow-y:scroll;
    border: 0.1rem solid white;
    height: 500px;
}
.user_center ul li:hover,.person_list ul li:hover{
    background-color: gainsboro;
}
.user_center{
    padding: 0.5rem;
}
.user_center ul,#list{
    list-style-type: none;
    padding: 0.5rem;
}
.user_center ul li{
    display: block;
    margin: 0.2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid grey;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem white;
    padding: 0.5rem 1.5rem;
    background-color: white;
}
.user_center ul li span{
    float: right;
    color: #2aabd2;
}
.person_list h2{
    background-color: white;
    border-bottom: 0.1rem solid grey;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 0.5rem;
 }
.person_list ul li{
    margin:0.5rem;
    background-color:white;
    padding:0.5rem
}
.person_list ul li a{
    text-decoration: none;
}
#show_content{
    height: 420px;
}
#show_content .system_message,#show_content .self,#show_content .message{
    display: block;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: white;
    text-align: center;
    border: 0.1rem solid dodgerblue;
    opacity: 0.8;
}
#show_content .system_message{
    width: 30%;
    margin: 1rem 35%;
}
#show_content .self{
    width: 40%;
    margin-top: 1rem;
    margin-left: 58%;
}
#show_content .chatBox{
    width: 50%;
    margin-top: 1rem;
    margin-left: 1%;
}
#show_content .photo{
    font-size: 3rem;
}
#show_content .username,#show_content .message{
    padding: 0.5rem;
}
#editor{
    height: 80px;
    padding: 0;
}
#editor textarea{
    width: 100%;
    height: 8rem;
    border: 0.1rem solid dodgerblue;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
}
#editor button{
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
}
#refresh{
    position: absolute;
    bottom: 3rem;
    right:1rem;
}
#refresh span{
    font-size: 2.4rem;
}
#refresh span:hover{
    color: #2aabd2;
}
/*旋转*/
@keyframes  go{
    0% {
        transform: rotateZ(0);
    }
    100% {transform: rotateZ(360deg); }
}
#btu_left,#btu_right{
    width: 50%;
    height: 420px;
    background: rgba(255,255,255,0);
    position: fixed;
    top: 0px;
    border: hidden;
}
#btu_left{
    left: 0;
}
#btu_right{
    right: 0;
}
