
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background: rgba(255,255,255,0);
    overflow-x: hidden;
}
.modal-dialog {
    width: 320px;
}
.input-group-addon{
    min-width:34px ;
}
.col-md-10{
    overflow-x: auto;
}
table {
    background: rgba(255, 255, 255, 0.5);
}

table tr td input {
    border: 1px solid grey;
    border-radius: 5px 10px;
    padding: 5px;
}
.padding_top{
    padding-top: 10px;
}
