<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>person</servlet-name>
    <servlet-class>servlet.servletPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>person</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enterprise</servlet-name>
    <servlet-class>servlet.servletEnterprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enterprise</servlet-name>
    <url-pattern>/enterprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>public</servlet-name>
    <servlet-class>servlet.servletPublic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>public</servlet-name>
    <url-pattern>/public</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>servlet.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileDownload</servlet-name>
    <servlet-class>servlet.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDownload</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
</web-app>