<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>check_telephone.do</servlet-name>
    <servlet-class>util.Check_telephone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check_telephone.do</servlet-name>
    <url-pattern>/check_telephone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register_person.do</servlet-name>
    <servlet-class>register.person.Register_person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_person.do</servlet-name>
    <url-pattern>/register_person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register_enterprise.do</servlet-name>
    <servlet-class>register.enterprise.Register_enterprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_enterprise.do</servlet-name>
    <url-pattern>/register_enterprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_session.do</servlet-name>
    <servlet-class>login.LoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_session.do</servlet-name>
    <url-pattern>/login_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.do</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.do</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload.do</servlet-name>
    <servlet-class>file.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload.do</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>