
.float-right{
    float: right;
}
.margin-top{
    margin-top: 20px;
}
.center{
    text-align: center
}
.video-progress-background{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    position:absolute;
    bottom:5px;
    width:100%;
    color:white;
}
.vertical-center{
   margin-top:10px;
}